/Alta.class
/Baja.class
/ClenteFisico.class
/Cliente.class
/ClienteJuridico.class
/DatosPersonales.class
/DetalleAlta.class
/DetalleBaja.class
/Factura.class
/Inspector.class
/Lectura.class
/Medidor.class
/SistemaElectrico.class
/Tarifa.class
/TarifaAlta.class
/TarifaBaja.class
/Zona.class
